In [16]:
import pandas as pd
import numpy as np
import datetime
import plotly.express as px

## Whole Dataframe

In [17]:
df = pd.read_csv("Dataframes/economic_story_dataframe.csv")
df
#df.isna().sum()

,Instrument,Date,Earnings Per Share - Actual,Earnings Per Share - Mean,Earnings Per Share - Actual Surprise,Earnings Per Share – Coefficient of Variation,Market Capitalization,Revenue - Actual,Enterprise Value,Number of Analysts,...,Recommendation - Mean (1-5).1,"WACC Inflation Adjusted Risk Free Rate, (%)",Net Income after Tax,Price Target - Mean,Price Target - Standard Deviation,Price Close,Enterprise Value To Sales (Daily Time Series Ratio),3 Month Total Return,Volume,Unemployment rate
0,POOL.OQ,2022-10-01,4.78,4.58750,4.196,3.843706,1.259813e+10,1.615339e+09,1.406160e+10,10.0,...,2.200,3.747421,189965000.0,360.11111,24.95082,318.21,2.383926,-9.164375,238539.0,3.7
1,POOL.OQ,2022-07-01,7.63,7.51700,1.503,3.625249,1.405795e+10,2.055818e+09,1.556187e+10,9.0,...,2.000,3.092855,307205000.0,435.37500,57.57373,351.23,2.749481,-21.661570,185584.0,3.5
2,POOL.OQ,2022-04-01,4.23,3.14867,34.342,6.630736,1.696712e+10,1.412650e+09,1.843682e+10,9.0,...,2.300,2.325202,179203000.0,519.88889,37.49206,422.85,3.422880,-25.160664,290897.0,3.6
3,POOL.OQ,2022-01-01,2.63,1.87500,40.267,3.269867,2.268979e+10,1.035557e+09,2.384882e+10,8.0,...,2.300,1.515266,107542000.0,571.00000,41.33833,566.00,4.504382,30.489705,82349.0,4.0
4,POOL.OQ,2021-10-01,4.51,3.84833,17.194,2.836295,1.742020e+10,1.411448e+09,1.769954e+10,8.0,...,2.300,1.527139,184573000.0,545.28571,50.48823,434.41,3.684400,-5.130322,157740.0,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20115,AVY.N,2014-01-01,0.69,0.68000,1.471,3.204412,4.877168e+09,1.583900e+09,5.553068e+09,8.0,...,2.625,NaN,42100000.0,54.62500,3.42555,50.19,0.920659,16.003852,157761.0,6.6
20116,AVY.N,2013-10-01,0.69,0.63833,8.095,2.775994,4.273414e+09,1.504900e+09,5.029514e+09,7.0,...,2.875,NaN,62000000.0,47.71429,3.45230,43.52,0.903176,2.467620,236291.0,7.2
20117,AVY.N,2013-07-01,0.71,0.70250,1.068,1.551601,4.258229e+09,1.552300e+09,5.436229e+09,8.0,...,2.875,NaN,70800000.0,45.00000,4.30946,42.76,0.906078,-0.054218,0.0,7.3
20118,AVY.N,2013-04-01,0.59,0.57571,2.482,2.046169,4.309428e+09,1.498900e+09,5.459128e+09,7.0,...,3.000,NaN,66800000.0,42.57143,3.92272,43.07,0.895787,24.148726,0.0,7.6
20119,AVY.N,2013-01-01,0.54,0.48571,11.178,3.625620,3.426001e+09,1.532200e+09,4.413001e+09,7.0,...,3.000,NaN,33400000.0,36.00000,2.44949,34.92,0.799347,10.637479,207295.0,8.0

# Creating subset dataframes for every factor

## Characteristics dataframe

In [18]:
characteristics = df.loc[:, ["Instrument", "Date", "Earnings Per Share - Actual Surprise", "Revenue - Actual", "Net Income after Tax", "Enterprise Value", "Market Capitalization", "Enterprise Value To Sales (Daily Time Series Ratio)", "3 Month Total Return", "Volume"]]
characteristics

,Instrument,Date,Earnings Per Share - Actual Surprise,Revenue - Actual,Net Income after Tax,Enterprise Value,Market Capitalization,Enterprise Value To Sales (Daily Time Series Ratio),3 Month Total Return,Volume
0,POOL.OQ,2022-10-01,4.196,1.615339e+09,189965000.0,1.406160e+10,1.259813e+10,2.383926,-9.164375,238539.0
1,POOL.OQ,2022-07-01,1.503,2.055818e+09,307205000.0,1.556187e+10,1.405795e+10,2.749481,-21.661570,185584.0
2,POOL.OQ,2022-04-01,34.342,1.412650e+09,179203000.0,1.843682e+10,1.696712e+10,3.422880,-25.160664,290897.0
3,POOL.OQ,2022-01-01,40.267,1.035557e+09,107542000.0,2.384882e+10,2.268979e+10,4.504382,30.489705,82349.0
4,POOL.OQ,2021-10-01,17.194,1.411448e+09,184573000.0,1.769954e+10,1.742020e+10,3.684400,-5.130322,157740.0
...,...,...,...,...,...,...,...,...,...,...
20115,AVY.N,2014-01-01,1.471,1.583900e+09,42100000.0,5.553068e+09,4.877168e+09,0.920659,16.003852,157761.0
20116,AVY.N,2013-10-01,8.095,1.504900e+09,62000000.0,5.029514e+09,4.273414e+09,0.903176,2.467620,236291.0
20117,AVY.N,2013-07-01,1.068,1.552300e+09,70800000.0,5.436229e+09,4.258229e+09,0.906078,-0.054218,0.0
20118,AVY.N,2013-04-01,2.482,1.498900e+09,66800000.0,5.459128e+09,4.309428e+09,0.895787,24.148726,0.0
20119,AVY.N,2013-01-01,11.178,1.532200e+09,33400000.0,4.413001e+09,3.426001e+09,0.799347,10.637479,207295.0

In [19]:
characteristics["Net Income after Tax"] = characteristics["Net Income after Tax"].fillna(1)
characteristics["loss firm status"] = [1 if x > 1 else -1 if x <= 0 else 0 for x in characteristics["Net Income after Tax"]]
characteristics = characteristics.drop("Net Income after Tax", axis=1)
characteristics.value_counts("loss firm status")

loss firm status
 1    18070
-1     1633
 0      417
dtype: int64

In [20]:
characteristics = characteristics.dropna()
characteristics["loss firm status"] = [-1 if x > 0 else 1 if x <= -1 else 0 for x in characteristics["loss firm status"]]
characteristics.value_counts("loss firm status")

# loss firm status:
# -1 = not a loss firm (is profitable)
# 1 = loss firm (negative profit or profit is equal to 0!!)
# 0 = value of NA, but we can change this to make NA values loss firm, or we drop them altogether

loss firm status
-1    17759
 1     1564
 0       14
dtype: int64

In [21]:
characteristics.to_csv("Dataframes/characteristics.csv", index=False)

### Analysts dataframe

In [22]:
analysts = df.loc[:, ["Instrument", "Date", "Earnings Per Share - Actual Surprise", "Earnings Per Share – Coefficient of Variation", "Number of Analysts", "Recommendation - Mean (1-5)", "Recommendation - Mean (1-5).1", "Price Target - Mean", "Price Target - Standard Deviation"]]
#analysts

In [23]:
analysts["Recommendation change"] = analysts["Recommendation - Mean (1-5)"] - analysts["Recommendation - Mean (1-5).1"]
analysts.insert(5, "Recommendation change", analysts.pop("Recommendation change"))
analysts = analysts.drop("Recommendation - Mean (1-5).1", axis=1)
analysts

,Instrument,Date,Earnings Per Share - Actual Surprise,Earnings Per Share – Coefficient of Variation,Number of Analysts,Recommendation change,Recommendation - Mean (1-5),Price Target - Mean,Price Target - Standard Deviation
0,POOL.OQ,2022-10-01,4.196,3.843706,10.0,0.07273,2.27273,360.11111,24.95082
1,POOL.OQ,2022-07-01,1.503,3.625249,9.0,0.20000,2.20000,435.37500,57.57373
2,POOL.OQ,2022-04-01,34.342,6.630736,9.0,-0.30000,2.00000,519.88889,37.49206
3,POOL.OQ,2022-01-01,40.267,3.269867,8.0,0.00000,2.30000,571.00000,41.33833
4,POOL.OQ,2021-10-01,17.194,2.836295,8.0,0.00000,2.30000,545.28571,50.48823
...,...,...,...,...,...,...,...,...,...
20115,AVY.N,2014-01-01,1.471,3.204412,8.0,-0.29167,2.33333,54.62500,3.42555
20116,AVY.N,2013-10-01,8.095,2.775994,7.0,-0.25000,2.62500,47.71429,3.45230
20117,AVY.N,2013-07-01,1.068,1.551601,8.0,0.00000,2.87500,45.00000,4.30946
20118,AVY.N,2013-04-01,2.482,2.046169,7.0,-0.12500,2.87500,42.57143,3.92272
20119,AVY.N,2013-01-01,11.178,3.625620,7.0,0.00000,3.00000,36.00000,2.44949

In [24]:
analysts.to_csv("Dataframes/analysts.csv", index=False)

### Macroeconomic factors dataframe

In [25]:
macro = df.loc[:, ["Instrument", "Date", "Earnings Per Share - Actual Surprise", "WACC Inflation Adjusted Risk Free Rate, (%)", "Unemployment rate"]]
macro

,Instrument,Date,Earnings Per Share - Actual Surprise,"WACC Inflation Adjusted Risk Free Rate, (%)",Unemployment rate
0,POOL.OQ,2022-10-01,4.196,3.747421,3.7
1,POOL.OQ,2022-07-01,1.503,3.092855,3.5
2,POOL.OQ,2022-04-01,34.342,2.325202,3.6
3,POOL.OQ,2022-01-01,40.267,1.515266,4.0
4,POOL.OQ,2021-10-01,17.194,1.527139,4.5
...,...,...,...,...,...
20115,AVY.N,2014-01-01,1.471,NaN,6.6
20116,AVY.N,2013-10-01,8.095,NaN,7.2
20117,AVY.N,2013-07-01,1.068,NaN,7.3
20118,AVY.N,2013-04-01,2.482,NaN,7.6
20119,AVY.N,2013-01-01,11.178,NaN,8.0

In [26]:
macro.to_csv("Dataframes/macro.csv", index=False)

In [27]:
# df['ESG Score'] = pd.Series()
# df['Governance Pillar Score'] = pd.Series()
# df['Independent Board Members'] = pd.Series()
#
# for i in range(len(df2)):
#     for j in range(len(df)):
#         if df.loc[j, "Instrument"] == df2.loc[i, "Instrument"] and df.loc[j, "Date"].year == df2.loc[i, "Date"].year:
#             df.loc[j, "ESG Score"] = df2.loc[i, "ESG Score"]
#             df.loc[j, "Governance Pillar Score"] = df2.loc[i, "Governance Pillar Score"]
#             df.loc[j, "Independent Board Members"] = df2.loc[i, "Independent Board Members"]
#
# df

#Comment: Takes too much time