In [1]:
import pandas as pd
import numpy as np
import datetime
import plotly.express as px

## Whole Dataframe

In [5]:
df = pd.read_csv("Dataframes/economic_story_dataframe.csv")
df
#df.isna().sum()

,Instrument,Date,Earnings Per Share - Actual,Earnings Per Share - Mean,Earnings Per Share - Actual Surprise,Earnings Per Share – Coefficient of Variation,Market Capitalization,Revenue - Actual,Enterprise Value,Number of Analysts,Recommendation - Mean (1-5),Recommendation - Mean (1-5).1,"WACC Inflation Adjusted Risk Free Rate, (%)",Net Income after Tax,Price Target - Mean,Price Close,Enterprise Value To Sales (Daily Time Series Ratio)
0,POOL.OQ,2022-10-01,4.78,4.58750,4.196,3.843706,1.259813e+10,1.615339e+09,1.406160e+10,10.0,2.27273,2.20000,3.747421,189965000.0,360.11111,318.21,2.383926
1,POOL.OQ,2022-07-01,7.63,7.51700,1.503,3.625249,1.405795e+10,2.055818e+09,1.556187e+10,9.0,2.20000,2.00000,3.092855,307205000.0,435.37500,351.23,2.749481
2,POOL.OQ,2022-04-01,4.23,3.14867,34.342,6.630736,1.696712e+10,1.412650e+09,1.843682e+10,9.0,2.00000,2.30000,2.325202,179203000.0,519.88889,422.85,3.422880
3,POOL.OQ,2022-01-01,2.63,1.87500,40.267,3.269867,2.268979e+10,1.035557e+09,2.384882e+10,8.0,2.30000,2.30000,1.515266,107542000.0,571.00000,566.00,4.504382
4,POOL.OQ,2021-10-01,4.51,3.84833,17.194,2.836295,1.742020e+10,1.411448e+09,1.769954e+10,8.0,2.30000,2.30000,1.527139,184573000.0,545.28571,434.41,3.684400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2510,AVY.N,2022-10-01,2.46,2.46323,-0.131,2.002655,1.322042e+10,2.317100e+09,1.622502e+10,13.0,2.14286,2.00000,3.747421,221500000.0,201.63636,162.70,1.819581
2511,AVY.N,2022-07-01,2.64,2.36485,11.635,2.604816,1.343710e+10,2.347000e+09,1.650430e+10,13.0,2.00000,2.06667,3.092855,214500000.0,210.72727,161.87,1.877800
2512,AVY.N,2022-04-01,2.40,2.17008,10.595,3.888797,1.441548e+10,2.349300e+09,1.753708e+10,12.0,2.06667,2.14286,2.325202,198200000.0,219.00000,173.97,2.053846
2513,AVY.N,2022-01-01,2.13,2.12375,0.294,1.875927,1.793104e+10,2.183200e+09,2.087304e+10,12.0,2.14286,2.15385,1.515266,183100000.0,240.45455,216.57,2.546597
2514,AVY.N,2021-10-01,2.14,2.04230,4.784,3.935759,1.737642e+10,2.071800e+09,2.036822e+10,11.0,2.15385,2.15385,1.527139,165200000.0,235.70000,207.21,2.398382

# Creating subset dataframes for every factor

## Characteristics dataframe

In [7]:
characteristics = df.loc[:, ["Instrument", "Date", "Earnings Per Share - Actual Surprise", "Revenue - Actual", "Net Income after Tax", "Enterprise Value", "Market Capitalization", "Enterprise Value To Sales (Daily Time Series Ratio)"]]
characteristics

,Instrument,Date,Earnings Per Share - Actual Surprise,Revenue - Actual,Net Income after Tax,Enterprise Value,Market Capitalization,Enterprise Value To Sales (Daily Time Series Ratio)
0,POOL.OQ,2022-10-01,4.196,1.615339e+09,189965000.0,1.406160e+10,1.259813e+10,2.383926
1,POOL.OQ,2022-07-01,1.503,2.055818e+09,307205000.0,1.556187e+10,1.405795e+10,2.749481
2,POOL.OQ,2022-04-01,34.342,1.412650e+09,179203000.0,1.843682e+10,1.696712e+10,3.422880
3,POOL.OQ,2022-01-01,40.267,1.035557e+09,107542000.0,2.384882e+10,2.268979e+10,4.504382
4,POOL.OQ,2021-10-01,17.194,1.411448e+09,184573000.0,1.769954e+10,1.742020e+10,3.684400
...,...,...,...,...,...,...,...,...
2510,AVY.N,2022-10-01,-0.131,2.317100e+09,221500000.0,1.622502e+10,1.322042e+10,1.819581
2511,AVY.N,2022-07-01,11.635,2.347000e+09,214500000.0,1.650430e+10,1.343710e+10,1.877800
2512,AVY.N,2022-04-01,10.595,2.349300e+09,198200000.0,1.753708e+10,1.441548e+10,2.053846
2513,AVY.N,2022-01-01,0.294,2.183200e+09,183100000.0,2.087304e+10,1.793104e+10,2.546597
2514,AVY.N,2021-10-01,4.784,2.071800e+09,165200000.0,2.036822e+10,1.737642e+10,2.398382

In [8]:
characteristics["Net Income after Tax"] = characteristics["Net Income after Tax"].fillna(1)
characteristics["loss firm status"] = [1 if x > 1 else -1 if x <= 0 else 0 for x in characteristics["Net Income after Tax"]]
characteristics = characteristics.drop("Net Income after Tax", axis=1)
characteristics.value_counts("loss firm status")

loss firm status
 1    2346
-1     165
 0       4
dtype: int64

In [9]:
characteristics = characteristics.dropna()
characteristics["loss firm status"] = [-1 if x > 0 else 1 if x <= -1 else 0 for x in characteristics["loss firm status"]]
characteristics.value_counts("loss firm status")

# loss firm status:
# -1 = not a loss firm (is profitable)
# 1 = loss firm (negative profit or profit is equal to 0!!)
# 0 = value of NA, but we can change this to make NA values loss firm, or we drop them altogether

loss firm status
-1    2326
 1     164
dtype: int64

In [10]:
characteristics.to_csv("Dataframes/characteristics.csv", index=False)

### Analysts dataframe

In [11]:
analysts = df.loc[:, ["Instrument", "Date", "Earnings Per Share - Actual Surprise", "Earnings Per Share – Coefficient of Variation", "Number of Analysts", "Recommendation - Mean (1-5)", "Recommendation - Mean (1-5).1", "Price Target - Mean", "Price Target - Mean"]]
#analysts

In [12]:
analysts["Recommendation change"] = analysts["Recommendation - Mean (1-5)"] - analysts["Recommendation - Mean (1-5).1"]
analysts.insert(5, "Recommendation change", analysts.pop("Recommendation change"))
analysts = analysts.drop("Recommendation - Mean (1-5).1", axis=1)
analysts

,Instrument,Date,Earnings Per Share - Actual Surprise,Earnings Per Share – Coefficient of Variation,Number of Analysts,Recommendation change,Recommendation - Mean (1-5),Price Target - Mean,Price Target - Mean
0,POOL.OQ,2022-10-01,4.196,3.843706,10.0,0.07273,2.27273,360.11111,360.11111
1,POOL.OQ,2022-07-01,1.503,3.625249,9.0,0.20000,2.20000,435.37500,435.37500
2,POOL.OQ,2022-04-01,34.342,6.630736,9.0,-0.30000,2.00000,519.88889,519.88889
3,POOL.OQ,2022-01-01,40.267,3.269867,8.0,0.00000,2.30000,571.00000,571.00000
4,POOL.OQ,2021-10-01,17.194,2.836295,8.0,0.00000,2.30000,545.28571,545.28571
...,...,...,...,...,...,...,...,...,...
2510,AVY.N,2022-10-01,-0.131,2.002655,13.0,0.14286,2.14286,201.63636,201.63636
2511,AVY.N,2022-07-01,11.635,2.604816,13.0,-0.06667,2.00000,210.72727,210.72727
2512,AVY.N,2022-04-01,10.595,3.888797,12.0,-0.07619,2.06667,219.00000,219.00000
2513,AVY.N,2022-01-01,0.294,1.875927,12.0,-0.01099,2.14286,240.45455,240.45455
2514,AVY.N,2021-10-01,4.784,3.935759,11.0,0.00000,2.15385,235.70000,235.70000

In [13]:
analysts.to_csv("Dataframes/analysts.csv", index=False)

### Macroeconomic factors dataframe

In [19]:
macro = df.loc[:, ["Instrument", "Date", "Earnings Per Share - Actual Surprise", "WACC Inflation Adjusted Risk Free Rate, (%)"]]
macro

,Instrument,Date,Earnings Per Share - Actual Surprise,"WACC Inflation Adjusted Risk Free Rate, (%)"
0,POOL.OQ,2022-10-01,4.196,3.747421
1,POOL.OQ,2022-07-01,1.503,3.092855
2,POOL.OQ,2022-04-01,34.342,2.325202
3,POOL.OQ,2022-01-01,40.267,1.515266
4,POOL.OQ,2021-10-01,17.194,1.527139
...,...,...,...,...
2510,AVY.N,2022-10-01,-0.131,3.747421
2511,AVY.N,2022-07-01,11.635,3.092855
2512,AVY.N,2022-04-01,10.595,2.325202
2513,AVY.N,2022-01-01,0.294,1.515266
2514,AVY.N,2021-10-01,4.784,1.527139

In [20]:
macro.to_csv("Dataframes/macro.csv", index=False)

In [12]:
# df['ESG Score'] = pd.Series()
# df['Governance Pillar Score'] = pd.Series()
# df['Independent Board Members'] = pd.Series()
#
# for i in range(len(df2)):
#     for j in range(len(df)):
#         if df.loc[j, "Instrument"] == df2.loc[i, "Instrument"] and df.loc[j, "Date"].year == df2.loc[i, "Date"].year:
#             df.loc[j, "ESG Score"] = df2.loc[i, "ESG Score"]
#             df.loc[j, "Governance Pillar Score"] = df2.loc[i, "Governance Pillar Score"]
#             df.loc[j, "Independent Board Members"] = df2.loc[i, "Independent Board Members"]
#
# df

#Comment: Takes too much time