In [30]:
import pandas as pd
import numpy as np
import datetime
import plotly.express as px

## Whole Dataframe

In [35]:
df = pd.read_csv("Dataframes/economic_story_dataframe.csv")
#df.isna().sum()

# Creating subset dataframes for every factor

## Characteristics dataframe

In [36]:
characteristics = df.loc[:, ["Instrument", "Date", "Earnings Per Share - Actual Surprise", "Revenue - Actual", "Net Income after Tax", "Enterprise Value", "Market Capitalization"]] #  "Enterprise Value",
characteristics

,Instrument,Date,Earnings Per Share - Actual Surprise,Revenue - Actual,Net Income after Tax,Enterprise Value,Market Capitalization
0,POOL.OQ,2022-10-01,4.196,1.615339e+09,189965000.0,1.406160e+10,1.259813e+10
1,POOL.OQ,2022-07-01,1.503,2.055818e+09,307205000.0,1.556187e+10,1.405795e+10
2,POOL.OQ,2022-04-01,34.342,1.412650e+09,179203000.0,1.843682e+10,1.696712e+10
3,POOL.OQ,2022-01-01,40.267,1.035557e+09,107542000.0,2.384882e+10,2.268979e+10
4,POOL.OQ,2021-10-01,17.194,1.411448e+09,184573000.0,1.769954e+10,1.742020e+10
...,...,...,...,...,...,...,...
2510,AVY.N,2022-10-01,-0.131,2.317100e+09,221500000.0,1.622502e+10,1.322042e+10
2511,AVY.N,2022-07-01,11.635,2.347000e+09,214500000.0,1.650430e+10,1.343710e+10
2512,AVY.N,2022-04-01,10.595,2.349300e+09,198200000.0,1.753708e+10,1.441548e+10
2513,AVY.N,2022-01-01,0.294,2.183200e+09,183100000.0,2.087304e+10,1.793104e+10
2514,AVY.N,2021-10-01,4.784,2.071800e+09,165200000.0,2.036822e+10,1.737642e+10

In [37]:
characteristics["Net Income after Tax"] = characteristics["Net Income after Tax"].fillna(1)
characteristics["loss firm status"] = [1 if x > 1 else -1 if x <= 0 else 0 for x in characteristics["Net Income after Tax"]]
characteristics = characteristics.drop("Net Income after Tax", axis=1)
characteristics.value_counts("loss firm status")

loss firm status
 1    2346
-1     165
 0       4
dtype: int64

In [38]:
characteristics = characteristics.dropna()
characteristics["loss firm status"] = [-1 if x > 0 else 1 if x <= -1 else 0 for x in characteristics["loss firm status"]]
characteristics.value_counts("loss firm status")

# loss firm status:
# -1 = not a loss firm (is profitable)
# 1 = loss firm (negative profit or profit is equal to 0!!)
# 0 = value of NA, but we can change this to make NA values loss firm, or we drop them altogether

loss firm status
-1    2326
 1     164
dtype: int64

In [39]:
characteristics.to_csv("Dataframes/characteristics.csv", index=False)

### Analysts dataframe

In [16]:
analysts = df.loc[:, ["Instrument", "Date", "Earnings Per Share - Actual Surprise", "Number of Analysts", "Recommendation - Mean (1-5)", "Recommendation - Mean (1-5).1"]]
#analysts

In [17]:
analysts["Recommendation change"] = analysts["Recommendation - Mean (1-5)"] - analysts["Recommendation - Mean (1-5).1"]
analysts.insert(5, "Recommendation change", analysts.pop("Recommendation change"))
analysts = analysts.drop("Recommendation - Mean (1-5).1", axis=1)
analysts

,Instrument,Date,Earnings Per Share - Actual Surprise,Number of Analysts,Recommendation - Mean (1-5),Recommendation change
0,POOL.OQ,2022-10-01,4.196,10.0,2.27273,0.07273
1,POOL.OQ,2022-07-01,1.503,9.0,2.20000,0.20000
2,POOL.OQ,2022-04-01,34.342,9.0,2.00000,-0.30000
3,POOL.OQ,2022-01-01,40.267,8.0,2.30000,0.00000
4,POOL.OQ,2021-10-01,17.194,8.0,2.30000,0.00000
...,...,...,...,...,...,...
2510,AVY.N,2022-10-01,-0.131,13.0,2.14286,0.14286
2511,AVY.N,2022-07-01,11.635,13.0,2.00000,-0.06667
2512,AVY.N,2022-04-01,10.595,12.0,2.06667,-0.07619
2513,AVY.N,2022-01-01,0.294,12.0,2.14286,-0.01099
2514,AVY.N,2021-10-01,4.784,11.0,2.15385,0.00000

In [18]:
analysts.to_csv("Dataframes/analysts.csv", index=False)

### Macroeconomic factors dataframe

In [19]:
macro = df.loc[:, ["Instrument", "Date", "Earnings Per Share - Actual Surprise", "WACC Inflation Adjusted Risk Free Rate, (%)"]]
macro

,Instrument,Date,Earnings Per Share - Actual Surprise,"WACC Inflation Adjusted Risk Free Rate, (%)"
0,POOL.OQ,2022-10-01,4.196,3.747421
1,POOL.OQ,2022-07-01,1.503,3.092855
2,POOL.OQ,2022-04-01,34.342,2.325202
3,POOL.OQ,2022-01-01,40.267,1.515266
4,POOL.OQ,2021-10-01,17.194,1.527139
...,...,...,...,...
2510,AVY.N,2022-10-01,-0.131,3.747421
2511,AVY.N,2022-07-01,11.635,3.092855
2512,AVY.N,2022-04-01,10.595,2.325202
2513,AVY.N,2022-01-01,0.294,1.515266
2514,AVY.N,2021-10-01,4.784,1.527139

In [20]:
macro.to_csv("Dataframes/macro.csv", index=False)

In [12]:
# df['ESG Score'] = pd.Series()
# df['Governance Pillar Score'] = pd.Series()
# df['Independent Board Members'] = pd.Series()
#
# for i in range(len(df2)):
#     for j in range(len(df)):
#         if df.loc[j, "Instrument"] == df2.loc[i, "Instrument"] and df.loc[j, "Date"].year == df2.loc[i, "Date"].year:
#             df.loc[j, "ESG Score"] = df2.loc[i, "ESG Score"]
#             df.loc[j, "Governance Pillar Score"] = df2.loc[i, "Governance Pillar Score"]
#             df.loc[j, "Independent Board Members"] = df2.loc[i, "Independent Board Members"]
#
# df

#Comment: Takes too much time