In [3]:
import pandas as pd
import numpy as np
import datetime
import plotly.express as px

https://community.developers.refinitiv.com/questions/73493/get-eps-historical-data-for-stocks.html

In [5]:
df = pd.read_csv("economic_story_dataframe.csv")
df

,Instrument,Date,Earnings Per Share - Actual,Earnings Per Share - Mean,Earnings Per Share - Actual Surprise,Revenue - Actual,Enterprise Value,Long Term Growth - Mean,Number of Analysts,Recommendation - Mean (1-5),Recommendation - Mean (1-5).1,"WACC Inflation Adjusted Risk Free Rate, (%)",Net Income after Tax,Price Target - Mean,Price Close
0,POOL.OQ,2022-10-20 07:00:00+00:00,4.78,4.58750,4.196,1.615339e+09,1.406160e+10,NaN,10.0,2.27273,2.200,3.747421,189965000.0,360.11111,318.21
1,POOL.OQ,2022-07-21 07:00:00+00:00,7.63,7.51700,1.503,2.055818e+09,1.556187e+10,NaN,9.0,2.20000,2.000,3.092855,307205000.0,435.37500,351.23
2,POOL.OQ,2022-04-21 07:00:00+00:00,4.23,3.14867,34.342,1.412650e+09,1.843682e+10,NaN,9.0,2.00000,2.300,2.325202,179203000.0,519.88889,422.85
3,POOL.OQ,2022-02-17 07:00:00+00:00,2.63,1.87500,40.267,1.035557e+09,2.384882e+10,NaN,8.0,2.30000,2.300,1.515266,107542000.0,571.00000,566.00
4,POOL.OQ,2021-10-21 07:00:00+00:00,4.51,3.84833,17.194,1.411448e+09,1.769954e+10,NaN,8.0,2.30000,2.300,1.527139,184573000.0,545.28571,434.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20115,AVY.N,2014-01-31 08:30:00+00:00,0.69,0.68000,1.471,1.583900e+09,5.553068e+09,7.00,8.0,2.33333,2.625,NaN,42100000.0,54.62500,50.19
20116,AVY.N,2013-10-25 08:30:00+00:00,0.69,0.63833,8.095,1.504900e+09,5.029514e+09,7.00,7.0,2.62500,2.875,NaN,62000000.0,47.71429,43.52
20117,AVY.N,2013-07-23 08:30:00+00:00,0.71,0.70250,1.068,1.552300e+09,5.436229e+09,14.35,8.0,2.87500,2.875,NaN,70800000.0,45.00000,42.76
20118,AVY.N,2013-04-24 08:30:00+00:00,0.59,0.57571,2.482,1.498900e+09,5.459128e+09,14.35,7.0,2.87500,3.000,NaN,66800000.0,42.57143,43.07
20119,AVY.N,2013-01-30 07:35:00+00:00,0.54,0.48571,11.178,1.532200e+09,4.413001e+09,10.40,7.0,3.00000,3.000,NaN,33400000.0,36.00000,34.92

In [52]:
cols = []
count = 1
for column in df.columns:
    if column == 'Recommendation - Mean (1-5)':
        cols.append(f'Recommendation - Mean (1-5)_{count}')
        count+=1
        continue
    cols.append(column)
df.columns = cols
df

,Instrument,Date,Earnings Per Share - Actual,Earnings Per Share - Mean,Earnings Per Share - Actual Surprise,Revenue - Actual,Enterprise Value,Long Term Growth - Mean,Number of Analysts,Recommendation - Mean (1-5)_1,Recommendation - Mean (1-5)_2,"WACC Inflation Adjusted Risk Free Rate, (%)",Net Income after Tax,Price Target - Mean,Price Close
0,POOL.OQ,2022-10-20 07:00:00+00:00,4.78,4.5875,4.196,1615339000.0,14061600372.299999,<NA>,10,2.27273,2.2,3.747421,189965000.0,360.11111,318.21
1,POOL.OQ,2022-07-21 07:00:00+00:00,7.63,7.517,1.503,2055818000.0,15561870705.290001,<NA>,9,2.2,2.0,3.092855,307205000.0,435.375,351.23
2,POOL.OQ,2022-04-21 07:00:00+00:00,4.23,3.14867,34.342,1412650000.0,18436823034.200001,<NA>,9,2.0,2.3,2.325202,179203000.0,519.88889,422.85
3,POOL.OQ,2022-02-17 07:00:00+00:00,2.63,1.875,40.267,1035557000.0,23848820586.0,<NA>,8,2.3,2.3,1.515266,107542000.0,571.0,566.0
4,POOL.OQ,2021-10-21 07:00:00+00:00,4.51,3.84833,17.194,1411448000.0,17699543822.66,<NA>,8,2.3,2.3,1.527139,184573000.0,545.28571,434.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20115,AVY.N,2014-01-31 08:30:00+00:00,0.69,0.68,1.471,1583900000.0,5553067502.24,7.0,8,2.33333,2.625,<NA>,42100000.0,54.625,50.19
20116,AVY.N,2013-10-25 08:30:00+00:00,0.69,0.63833,8.095,1504900000.0,5029514353.46,7.0,7,2.625,2.875,<NA>,62000000.0,47.71429,43.52
20117,AVY.N,2013-07-23 08:30:00+00:00,0.71,0.7025,1.068,1552300000.0,5436229328.84,14.35,8,2.875,2.875,<NA>,70800000.0,45.0,42.76
20118,AVY.N,2013-04-24 08:30:00+00:00,0.59,0.57571,2.482,1498900000.0,5459128200.46,14.35,7,2.875,3.0,<NA>,66800000.0,42.57143,43.07
20119,AVY.N,2013-01-30 07:35:00+00:00,0.54,0.48571,11.178,1532200000.0,4413001367.2,10.4,7,3.0,3.0,<NA>,33400000.0,36.0,34.92

In [53]:
df["Recommendation change"] = df["Recommendation - Mean (1-5)_1"] - df["Recommendation - Mean (1-5)_2"]
df.insert(10, "Recommendation change", df.pop("Recommendation change"))
df = df.rename(columns={"Recommendation - Mean (1-5)_1": "Recommendation - Mean (1-5)"})
df = df.drop("Recommendation - Mean (1-5)_2", axis=1)
df

,Instrument,Date,Earnings Per Share - Actual,Earnings Per Share - Mean,Earnings Per Share - Actual Surprise,Revenue - Actual,Enterprise Value,Long Term Growth - Mean,Number of Analysts,Recommendation - Mean (1-5),Recommendation change,"WACC Inflation Adjusted Risk Free Rate, (%)",Net Income after Tax,Price Target - Mean,Price Close
0,POOL.OQ,2022-10-20 07:00:00+00:00,4.78,4.5875,4.196,1615339000.0,14061600372.299999,<NA>,10,2.27273,0.07273,3.747421,189965000.0,360.11111,318.21
1,POOL.OQ,2022-07-21 07:00:00+00:00,7.63,7.517,1.503,2055818000.0,15561870705.290001,<NA>,9,2.2,0.2,3.092855,307205000.0,435.375,351.23
2,POOL.OQ,2022-04-21 07:00:00+00:00,4.23,3.14867,34.342,1412650000.0,18436823034.200001,<NA>,9,2.0,-0.3,2.325202,179203000.0,519.88889,422.85
3,POOL.OQ,2022-02-17 07:00:00+00:00,2.63,1.875,40.267,1035557000.0,23848820586.0,<NA>,8,2.3,0.0,1.515266,107542000.0,571.0,566.0
4,POOL.OQ,2021-10-21 07:00:00+00:00,4.51,3.84833,17.194,1411448000.0,17699543822.66,<NA>,8,2.3,0.0,1.527139,184573000.0,545.28571,434.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20115,AVY.N,2014-01-31 08:30:00+00:00,0.69,0.68,1.471,1583900000.0,5553067502.24,7.0,8,2.33333,-0.29167,<NA>,42100000.0,54.625,50.19
20116,AVY.N,2013-10-25 08:30:00+00:00,0.69,0.63833,8.095,1504900000.0,5029514353.46,7.0,7,2.625,-0.25,<NA>,62000000.0,47.71429,43.52
20117,AVY.N,2013-07-23 08:30:00+00:00,0.71,0.7025,1.068,1552300000.0,5436229328.84,14.35,8,2.875,0.0,<NA>,70800000.0,45.0,42.76
20118,AVY.N,2013-04-24 08:30:00+00:00,0.59,0.57571,2.482,1498900000.0,5459128200.46,14.35,7,2.875,-0.125,<NA>,66800000.0,42.57143,43.07
20119,AVY.N,2013-01-30 07:35:00+00:00,0.54,0.48571,11.178,1532200000.0,4413001367.2,10.4,7,3.0,0.0,<NA>,33400000.0,36.0,34.92

In [54]:
df['New Date'] = pd.Series()

for i in range(len(df)):
    if df.loc[i, "Date"].month == 1:
        df.loc[i, "New Date"] = df.loc[i, "Date"].replace(month=1, day=1)
    elif df.loc[i, "Date"].month == 2:
        df.loc[i, "New Date"] = df.loc[i, "Date"].replace(month=1, day=1)
    elif df.loc[i, "Date"].month == 3:
        df.loc[i, "New Date"] = df.loc[i, "Date"].replace(month=1, day=1)
    elif df.loc[i, "Date"].month == 4:
        df.loc[i, "New Date"] = df.loc[i, "Date"].replace(month=4, day=1)
    elif df.loc[i, "Date"].month == 5:
        df.loc[i, "New Date"] = df.loc[i, "Date"].replace(month=4, day=1)
    elif df.loc[i, "Date"].month == 6:
        df.loc[i, "New Date"] = df.loc[i, "Date"].replace(month=4, day=1)
    elif df.loc[i, "Date"].month == 7:
        df.loc[i, "New Date"] = df.loc[i, "Date"].replace(month=7, day=1)
    elif df.loc[i, "Date"].month == 8:
        df.loc[i, "New Date"] = df.loc[i, "Date"].replace(month=7, day=1)
    elif df.loc[i, "Date"].month == 9:
        df.loc[i, "New Date"] = df.loc[i, "Date"].replace(month=7, day=1)
    elif df.loc[i, "Date"].month == 10:
        df.loc[i, "New Date"] = df.loc[i, "Date"].replace(month=10, day=1)
    elif df.loc[i, "Date"].month == 11:
        df.loc[i, "New Date"] = df.loc[i, "Date"].replace(month=10, day=1)
    elif df.loc[i, "Date"].month == 12:
        df.loc[i, "New Date"] = df.loc[i, "Date"].replace(month=10, day=1)

df.insert(2, "New Date", df.pop("New Date"))
df["New Date"] = pd.to_datetime(df["New Date"]).dt.date

df

C:\Users\alexa\AppData\Local\Temp\ipykernel_27636\2145643216.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['New Date'] = pd.Series()

,Instrument,Date,New Date,Earnings Per Share - Actual,Earnings Per Share - Mean,Earnings Per Share - Actual Surprise,Revenue - Actual,Enterprise Value,Long Term Growth - Mean,Number of Analysts,Recommendation - Mean (1-5),Recommendation change,"WACC Inflation Adjusted Risk Free Rate, (%)",Net Income after Tax,Price Target - Mean,Price Close
0,POOL.OQ,2022-10-20 07:00:00+00:00,2022-10-01,4.78,4.5875,4.196,1615339000.0,14061600372.299999,<NA>,10,2.27273,0.07273,3.747421,189965000.0,360.11111,318.21
1,POOL.OQ,2022-07-21 07:00:00+00:00,2022-07-01,7.63,7.517,1.503,2055818000.0,15561870705.290001,<NA>,9,2.2,0.2,3.092855,307205000.0,435.375,351.23
2,POOL.OQ,2022-04-21 07:00:00+00:00,2022-04-01,4.23,3.14867,34.342,1412650000.0,18436823034.200001,<NA>,9,2.0,-0.3,2.325202,179203000.0,519.88889,422.85
3,POOL.OQ,2022-02-17 07:00:00+00:00,2022-01-01,2.63,1.875,40.267,1035557000.0,23848820586.0,<NA>,8,2.3,0.0,1.515266,107542000.0,571.0,566.0
4,POOL.OQ,2021-10-21 07:00:00+00:00,2021-10-01,4.51,3.84833,17.194,1411448000.0,17699543822.66,<NA>,8,2.3,0.0,1.527139,184573000.0,545.28571,434.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20115,AVY.N,2014-01-31 08:30:00+00:00,2014-01-01,0.69,0.68,1.471,1583900000.0,5553067502.24,7.0,8,2.33333,-0.29167,<NA>,42100000.0,54.625,50.19
20116,AVY.N,2013-10-25 08:30:00+00:00,2013-10-01,0.69,0.63833,8.095,1504900000.0,5029514353.46,7.0,7,2.625,-0.25,<NA>,62000000.0,47.71429,43.52
20117,AVY.N,2013-07-23 08:30:00+00:00,2013-07-01,0.71,0.7025,1.068,1552300000.0,5436229328.84,14.35,8,2.875,0.0,<NA>,70800000.0,45.0,42.76
20118,AVY.N,2013-04-24 08:30:00+00:00,2013-04-01,0.59,0.57571,2.482,1498900000.0,5459128200.46,14.35,7,2.875,-0.125,<NA>,66800000.0,42.57143,43.07
20119,AVY.N,2013-01-30 07:35:00+00:00,2013-01-01,0.54,0.48571,11.178,1532200000.0,4413001367.2,10.4,7,3.0,0.0,<NA>,33400000.0,36.0,34.92

In [70]:
characteristics = df.loc[:, ["Instrument", "New Date", "Earnings Per Share - Actual Surprise", "Revenue - Actual", "Net Income after Tax"]] #  "Enterprise Value",
analysts = df.loc[:, ["Instrument", "New Date", "Earnings Per Share - Actual Surprise", "Number of Analysts", "Recommendation - Mean (1-5)", 'Recommendation change']]
macro = df.loc[:, ["Instrument", "New Date", "Earnings Per Share - Actual Surprise", "WACC Inflation Adjusted Risk Free Rate, (%)"]]

In [71]:
characteristics["Net Income after Tax"] = characteristics["Net Income after Tax"].fillna(1)
characteristics["loss firm"] = [1 if x > 1 else -1 if x <= 0 else 0 for x in characteristics["Net Income after Tax"]]
characteristics = characteristics.drop("Net Income after Tax", axis=1)
characteristics

,Instrument,New Date,Earnings Per Share - Actual Surprise,Revenue - Actual,loss firm
0,POOL.OQ,2022-10-01,4.196,1615339000.0,1
1,POOL.OQ,2022-07-01,1.503,2055818000.0,1
2,POOL.OQ,2022-04-01,34.342,1412650000.0,1
3,POOL.OQ,2022-01-01,40.267,1035557000.0,1
4,POOL.OQ,2021-10-01,17.194,1411448000.0,1
...,...,...,...,...,...
20115,AVY.N,2014-01-01,1.471,1583900000.0,1
20116,AVY.N,2013-10-01,8.095,1504900000.0,1
20117,AVY.N,2013-07-01,1.068,1552300000.0,1
20118,AVY.N,2013-04-01,2.482,1498900000.0,1
20119,AVY.N,2013-01-01,11.178,1532200000.0,1

In [49]:
characteristics = characteristics.dropna()
characteristics["loss firm"] = [-1 if x > 0 else 1 if x < -1 else 0 for x in characteristics["Net Income after Tax"]]
characteristics

,Instrument,New Date,Earnings Per Share - Actual Surprise,Revenue - Actual,Enterprise Value,Net Income after Tax,loss firm
0,POOL.OQ,2022-10-01,4.196,1615339000.0,14061600372.299999,189965000.0,-1
1,POOL.OQ,2022-07-01,1.503,2055818000.0,15561870705.290001,307205000.0,-1
2,POOL.OQ,2022-04-01,34.342,1412650000.0,18436823034.200001,179203000.0,-1
3,POOL.OQ,2022-01-01,40.267,1035557000.0,23848820586.0,107542000.0,-1
4,POOL.OQ,2021-10-01,17.194,1411448000.0,17699543822.66,184573000.0,-1
...,...,...,...,...,...,...,...
20115,AVY.N,2014-01-01,1.471,1583900000.0,5553067502.24,42100000.0,-1
20116,AVY.N,2013-10-01,8.095,1504900000.0,5029514353.46,62000000.0,-1
20117,AVY.N,2013-07-01,1.068,1552300000.0,5436229328.84,70800000.0,-1
20118,AVY.N,2013-04-01,2.482,1498900000.0,5459128200.46,66800000.0,-1
20119,AVY.N,2013-01-01,11.178,1532200000.0,4413001367.2,33400000.0,-1

In [10]:
analysts

,Instrument,New Date,Earnings Per Share - Actual Surprise,Number of Analysts,Recommendation - Mean (1-5),Recommendation change
0,POOL.OQ,2022-10-01,4.196,10,2.27273,0.07273
1,POOL.OQ,2022-07-01,1.503,9,2.2,0.2
2,POOL.OQ,2022-04-01,34.342,9,2.0,-0.3
3,POOL.OQ,2022-01-01,40.267,8,2.3,0.0
4,POOL.OQ,2021-10-01,17.194,8,2.3,0.0
...,...,...,...,...,...,...
20115,AVY.N,2014-01-01,1.471,8,2.33333,-0.29167
20116,AVY.N,2013-10-01,8.095,7,2.625,-0.25
20117,AVY.N,2013-07-01,1.068,8,2.875,0.0
20118,AVY.N,2013-04-01,2.482,7,2.875,-0.125
20119,AVY.N,2013-01-01,11.178,7,3.0,0.0

In [11]:
macro

,Instrument,New Date,Earnings Per Share - Actual Surprise,"WACC Inflation Adjusted Risk Free Rate, (%)"
0,POOL.OQ,2022-10-01,4.196,3.747421
1,POOL.OQ,2022-07-01,1.503,3.092855
2,POOL.OQ,2022-04-01,34.342,2.325202
3,POOL.OQ,2022-01-01,40.267,1.515266
4,POOL.OQ,2021-10-01,17.194,1.527139
...,...,...,...,...
20115,AVY.N,2014-01-01,1.471,<NA>
20116,AVY.N,2013-10-01,8.095,<NA>
20117,AVY.N,2013-07-01,1.068,<NA>
20118,AVY.N,2013-04-01,2.482,<NA>
20119,AVY.N,2013-01-01,11.178,<NA>

In [72]:
yearly = ["TR.TRESGScore.date", "TR.TRESGScore", "TR.GovernancePillarScore", "TR.AnalyticIndepBoard"]

In [88]:
economic_story_yearly, e = ek.get_data('0#.SPX', yearly, parameters = {'SDate':'0','EDate':'-20','Period':'FY0','Frq':'FY'})

In [89]:
economic_story_yearly["Date"] = pd.to_datetime(economic_story_yearly["Date"]).dt.date
economic_story_yearly = economic_story_yearly.dropna()
economic_story_yearly

,Instrument,Date,ESG Score,Governance Pillar Score,Independent Board Members
0,POOL.OQ,2021-12-31,48.718747,79.856229,80.0
1,POOL.OQ,2020-12-31,40.485976,69.05684,88.888889
2,POOL.OQ,2019-12-31,44.618552,80.983486,88.888889
3,POOL.OQ,2018-12-31,42.83681,66.013223,87.5
4,POOL.OQ,2017-12-31,39.816484,54.70234,75.0
...,...,...,...,...,...
10513,AVY.N,2007-12-29,32.044479,67.581987,81.818182
10515,AVY.N,2005-12-31,4.927093,3.622322,80.0
10516,AVY.N,2005-01-01,10.087481,11.414989,66.666667
10517,AVY.N,2003-12-27,8.450697,5.399386,54.545455
10518,AVY.N,2002-12-28,10.400348,28.137028,60.0

In [ ]:
# df['ESG Score'] = pd.Series()
# df['Governance Pillar Score'] = pd.Series()
# df['Independent Board Members'] = pd.Series()
#
# for i in range(len(df2)):
#     for j in range(len(df)):
#         if df.loc[j, "Instrument"] == df2.loc[i, "Instrument"] and df.loc[j, "New Date"].year == df2.loc[i, "Date"].year:
#             df.loc[j, "ESG Score"] = df2.loc[i, "ESG Score"]
#             df.loc[j, "Governance Pillar Score"] = df2.loc[i, "Governance Pillar Score"]
#             df.loc[j, "Independent Board Members"] = df2.loc[i, "Independent Board Members"]
#
# df