In [9]:
import eikon as ek

ek.set_app_key("69de0ce7c5e2468e90a6058ce79f6558ebe3ee30")

In [10]:
df = ek.get_timeseries(["MSFT.O"],
                       start_date="2016-01-01",
                       end_date="2019-01-10")
df

MSFT.O          HIGH   CLOSE       LOW    OPEN   COUNT    VOLUME
Date
2016-01-04      54.8    54.8     53.39   54.32  272781  53777963
2016-01-05     55.39   55.05     54.54   54.93  180637  34079674
2016-01-06   54.4001   54.05     53.64   54.32  225856  39518863
2016-01-07    53.485   52.17     52.07    52.7  303271  56564852
2016-01-08     53.28   52.33     52.15   52.37  261949  48753969
...              ...     ...       ...     ...     ...       ...
2019-01-04    102.51  101.93     98.93   99.72  300149  44060620
2019-01-07  103.2681  102.06    100.98  101.64  238930  35656136
2019-01-08    103.97   102.8  101.7134  103.04  223595  31514415
2019-01-09    104.88  104.27  103.2445  103.86  232146  32280840
2019-01-10    103.75   103.6    102.38  103.22  176725  30067556

[761 rows x 6 columns]

In [11]:
ek.__version__

'1.1.12'

SyntaxError: invalid syntax (2348919104.py, line 1)